html{
    scroll-behavior: smooth;
}

.heading {
    color: red;
}

.Paris-para{
    background-color: beige;
}

#London-id{
    background-color: pink;
}

span{
    /* padding: 0 5p; */
    padding-left: 5px;
    padding-right: 5px;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: black;
    border-bottom: 4px solid gray;
}

.filler-para{
    border: 10px lightgreen ridge;
    margin: 5px;
}